.card {
  width: 100%;
  padding: 0 7px;
  margin-bottom: 20px;

  &__image {
    position: relative;
    width: 100%;
    color: #fff;
    overflow: hidden;

    img {
      width: 100%;
    }

    &:hover {
      .card__detail {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    padding: 3px 5px;
    background: #ee4d2d;

    text-align: center;
  }

  &__tag-new {
    position: absolute;
    top: 0;
    left: 55px;
    width: 50px;
    padding: 3px 5px;
    background: #5c5cc5;
    text-align: center;
  }

  &__detail {
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    display: flex;
    justify-content: space-around;
    background: rgba(37, 37, 111, 0.74);
    font-size: 14px;
    cursor: pointer;

    div {
      padding: 0.5rem 0;
    }
  }

  &__title {
    margin-top: 25px;
    color: #333;
    font-size: 14px;

    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  &__price {
    display: flex;
  }

  &__discount {
    font-weight: bold;
    color: #ee4d2d;
  }

  &__origin {
    padding-left: 10px;
    color: #929292;
    text-decoration: line-through;
  }
}



@media (max-width: 768px) {
  .card {
    &__detail {
      font-size: 10px;
    }
  }
}
